body {
    margin: 0;
    border: 0;
    background-color: black;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.content {
    height: 46vw;                   /* height: 42vw;*/
    width: 105vh;                   /*width: 125vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
  }

p {
    color: #ffff66;
    font-size: 4vw;
}


/* @media only screen and (min-width: 1200px){
    .content {
        height: 46vw;
        width: 105vh;
    }
} */